#display-box {
	position: relative;
	z-index: 1;
}

#gallows {
	height: 150px;
	width: 150px;
	position: absolute;
	z-index: 2;
}

#noosee {
	position: absolute;
	z-index: 3;
	margin-left: 79px;
	margin-top: 36px;
	color: red;
	line-height: 81%;
	   text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#gameInfo{
	margin-top: 63px;
}